
<!-- BEGIN MENU
================================================== -->

<div id="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{site.baseurl}}/index.html">
				<div class="logo-container">
					<span class="helper"></span><img src="{{site.baseurl}}/img/logo.png" alt=""/>
				</div>
			</a>
			<a class="navbar-brand" href="index.html">
			</a>
		</div>

		<div class="navbar-collapse collapse pull-right" id="mainMenu">
			<ul id="menu-main-menu" class="nav navbar-nav">
				<li><a href="{{site.baseurl}}/index.html">Home</a></li>
				<li><a href="{{site.baseurl}}/posts/websocket-book/">My Book</a></li>
				<li><a href="https://www.linkedin.com/in/petermoskovits">About</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- END MENU
================================================== -->
