<!-- begin parallax -->
<section class="pageheaderpagephp parallax parallax-image dark-bg" style="background-color: #000000; background-image:url(/img/saturn.jpg);">
<div class="wrapsection" style="padding:250px 0px;">
  <div class="container">
    <div class="parallax-content">
      <div class="title-area">
        <h2 class="title wow bounceInUp shadow" wow-data-duration="0.8s">Parallax Header Article </h2>
        <p class="subtitle wow bounceInDown shadow" wow-data-duration="0.8s">
           Describe in a few words what this awesome post is about
        </p>
        <a href="#main" class="downarrowpoint wow zoomIn goscroll"><i class="fa fa-angle-double-down"></i></a>
      </div>
      <!-- .section-title -->
    </div>
    <!-- .parallax-content -->
  </div>
</div>
</section>
<!-- end parallax -->
