<!-- post updates -->
<aside id="postwidget-2" class="widget widget_postwidget">
  <h2 class="widget-title">Recent Posts</h2>

  {% for page in site.pages %}
   {% if page.page-type == "blogpost" %}
   <div class="PostWrap">
     <div style="width:72px;float:left; margin-right:10px;">
       <a href="{{page.url}}"><img src="{{site.baseurl}}/{{page.image}}" class="attachment-post-thumbnail" alt=""/></a>
     </div>
     <p class="postwidgettitle" style="font-weight:700;">
       <a href="{{page.url}}">{{page.title}}</a>
     </p>
     <p class="postwidgetinfo">
       {{page.createdate}}
     </p>
   </div>
   {% endif %}
  {% endfor %}


  <div style="clear:both;"></div>
</aside>
