<!-- recent comments -->
<aside id="recent-comments-2" class="widget widget_recent_comments">
<h2 class="widget-title">Recent Comments</h2>
<ul id="recentcomments">
  <li class="recentcomments">John on <a href="blogsingle.html">Twitter Embed</a></li>
  <li class="recentcomments">Lara on <a href="blogsingle.html">Twitter Embed</a></li>
  <li class="recentcomments">John on <a href="blogsingle.html">Twitter Embed</a></li>
  <li class="recentcomments">Nickname on <a href="blogsingle.html">Twitter Embed</a></li>
</ul>
</aside>
